@charset "utf-8";
/* CSS Document */

.type { width: 100%;height: 85px;  background-color: #fff; margin-top: 0.3em;}
    .type li {  position: relative; width: 25%;  height: 6em; text-align: center;  float: left; }
        .type li div {  position: absolute; bottom: 1.2em;   width: 100%;font-size:0.8em;}

.order { position: relative; width: 100%; height:9.5em; color: #fff;background: -webkit-linear-gradient(#6ad0f1, #3ca8da); /* Safari 5.1 - 6.0 */ background: -o-linear-gradient(#6ad0f1, #3ca8da); /* Opera 11.1 - 12.0 */  background: -moz-linear-gradient(#6ad0f1, #3ca8da); /* Firefox 3.6 - 15 */ background: linear-gradient(#6ad0f1, #3ca8da);}
.order-title { position: absolute; top: 0.7em; left: 1.2em;}
	.order-title img {  width: 0.8em;  float: left;}
    .order-title label {   margin-left: 0.6em;float: left;}
.order-add { position: absolute; top: 0.6em;  right: 1em; width: 1em;}
.order-item { position: relative; width: 50%;height: 5.6em;text-align: center; margin-top: 3.8em; float: left;}
    .order-item div {  position: absolute; bottom: 1.6em;width: 100%;  font-size: 1em; line-height: 0.8em;}
.order-line {position: absolute;top: 2.8em;left: 50%;  width: 0.1em;height: 3em; background-color: #71d2ef;}
.order-tip { position: relative; width: 100%; height:3em; line-height: 3em;font-size:0.8em; background-color: #fff;}
    .order-tip label { font-size: 1em; font-weight: bold; margin-left: 1.3em; }
	.order-tip span{color:#929292;}

.zhongc { position: relative; width: 100%; height: 2.7em; line-height: 2.7em; background-color: #fff; margin-top: 0.3em;}
    .zhongc label {  font-size: 1em;color: #c2c2c2; margin-left: 0.7em; float: left; }
.zc-img { width: 1.5em; margin-top: 0.6em;margin-left: 1em; float: left;}
.zc-right {position: absolute; top: 0.3em;right: 0.8em; width: 2.6em;}
	
.ad { width: 100%; height: 5.5em; background-color: #fff;  margin-top: 0.3em;position:relative;}
	/*.ad img { height: 80px;}*/
	.ad_img{position:absolute; z-index:1; width:24em; height:5.5em; left:50%; margin-left:-12em; background:#fff url(../images/gg_01.png) no-repeat 0 0 / 24em 5.5em; }
	.img_dot{position:absolute; z-index:2; bottom:1.2em;width:1.4em; height:0.3em; left:50%; /*margin-left:-0.7em;*/ }
	.i_dot_green{background-color:#65abe2;}
	.i_dot_gray{background-color:#c6c6c6; margin-left:0.2em;}
	.i_dot_green,.i_dot_gray{display:inline-block; width:0.3em; height:0.3em; cursor:pointer; -moz-border-radius: 0.3em; -webkit-border-radius: 0.3em; border-radius:0.3em;}



